@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@500;600;700&display=swap');

:root {
  --background: #050505;
  --card: #111111;
  --primary: #8B5CF6;
  --secondary: #EC4899;
  --highlight: #22D3EE;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: white;
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Space Grotesk', sans-serif;
}